<!DOCTYPE html>
<html >
<head>
 <meta charset="utf-8">
 <title>
 Hanwen Cheng
 </title>
 <link href="resume_en.css" type="text/css" rel="stylesheet" />
 <link href='http://fonts.googleapis.com/css?family=Exo+2:500' rel='stylesheet' type='text/css'>
</head>
<body>
	 <header>
		   <ul class="header_wrapper ">
				<div class="contactInfo">
					<li >contact info</li>
				</div>
				<div class="info">
					<li>mobile:017684443881</li>
					<li>email:heawen.cheng@gmail.com</li>
					<li>address:Filderbahnplatz35,6303 Stuttgart70567 </li>
				</div>
		   </ul>
	  
	 </header>
	 <div class="body_wrapper ">
		
		<div id="photo">
		</div>
	 
		<div id="name"  >
			<h3 class="introduction right">
			Master of Science - INFOTECH - <img class="vertical_middle" src="U-stuttgart.gif" alt="university of stuttgart">
			</h3>
			<h1 class="firstname right">
			Hanwen
			</h1>
			<h1 class="lastname right">
			Cheng
			</h1>
		</div>
		
		<div class="split border" >
		</div>
			
		<div class="overview">
		Hi, I am doing my Master Degree of English Program INFOTECH(Information Technology) in University of Stuttgart. This is my third semester studying here in Germany.I like this flexible study program and interested in advanced web technology and distributed system. I have a strong willingness to learn new things, and learned many  technology from external resources during my university life. BTW, many things could caught my interest, like running, reading history and culture books, playing guitar etc...
		</div>		
		<div class="whoami">
		who i am
		</div>

		
		<div class="split border" >
		</div>
		

		
		<h1 class="left clear">
		&nbsp&nbspSkills
		</h1>
		<div class="skill ">
		<b class="title">WEB FRONT-END</b><br/>
		HTML<br />
		CSS(SCSS)<br />
		Javascript<br />
		Jquery<br />
		Ruby & Python <br/>
		</div>
		<div class="skill ">
		<b class="title">NETWORK programming</b><br/>
		Node.js & CGI scripting<br/>
		JAVA Applets & Servlets<br/>
		Network protocols<br/>		
		Socket Programming<br/>
		Encryption & Signature <br/>
		</div>		
		<div class="skill ">
		<b class="title">SOFTWARE engineering</b><br/>
		Android programming<br/>
		Distributed System<br/>
		Linux System<br/>
		XML Database<br/>
		MATLAB computing<br/>
		
		</div>		
		<div class="skill ">
		<b class="title">BUSINESS </b><br/>
		ERP System<br/>
		Product presentation<br/>
		Contract & Law<br/>
		Marketing & Negotiation<br/>
		Business management<br/>
		</div>
		
	</div>	

	<div class="language_section">
	 <div class="body_wrapper top10">
			<h1 class="right top10">
			Lauguages &nbsp&nbsp
			</h1>
			
			<p class="float language_name">English<br /><img src="english1.gif" alt="english" class="resize"></p>
			<p class="float language_discription top10">I have learned English for many years and the Master degree INFOTECH is completely taught in English.</p>
	
			<p class="float language_name">German<br /><img src="german1.gif" alt="english" class="resize"></p>
			<p class="float language_discription top10">I keep attending German course for 1 year, now I could handle some simple talk and read some kind of German professional book.</p>
		
			<p class="float language_name">Chinese<br /><img src="chinese1.gif" alt="english" class="resize"></p>
			<p class="float language_discription top10">As my mother tongue, I use fluently both Simplified Chinese and Traditional Chinese, plus I am interested in modern and classical literature.</p>
	
	 </div>
	</div>	

	<div class="body_wrapper">
		<h1 class="left clear">
		&nbsp&nbspEducation & Experience
		</h1>
		<table class="education_date">
			<tr>
				<th class="date">Sept<br/>2007</th>
				<th class="slash">-</th>
				<th class="date">Jul<br/>2011</th>
			</tr>
			<tr>
				<th class="date">jul<br/>2011</th>
				<th class="slash">-</th>
				<th class="date">jul<br/>2012</th>
			</tr>
			<tr>
				<th class="date">oct<br/>2013</th>
				<th class="slash">-</th>
				<th class="date">jan<br/>2014</th>
			</tr>	
			<tr>
				<th class="date">aug<br/>2012</th>
				<th class="slash">-</th>
				<th class="date">present</th>
			</tr>			
		</table>
		
		<table class="education_content">
			<tr>
				<td><b>Bachelor of Engineering (in China)</b> <br /> I got my bachelor degree in Anhui University, which is a national public university in Anhui Province, China. Majoring in automation, I get fundamental knowledge about both electrical engineering and computer science. My thesis is <cite>The application of median filtering in image enhancement</cite>.</td>
			</tr>
			<tr>
				<td><b>Sales (in China)</b> <br /> After graduate, in order to experience another career and get a worldwide view, I enrolled into <cite>Midea Company</cite>, which sells its home appliance to all over the world. There I was responsible for air-conditioner of European market, and learn quite a lot commerce organization and communication skills.</td>
			</tr>
			<tr>
				<td><b>Android Project (with Java)</b> <br /> As lab course in this semester, I developed a moving tracking software independently with local database and remote database using Amazon Web Services . It could also allow user to predict the location with internal sensor. </td>
			</tr>				
			<tr>
				<td><b>Master of Science (in Germany)</b> <br /> Now I am doing my Master degree here in Stuttgart, Baden-Württemberg. Studying in well-known INFOTECH program, I quite enjoy the study life here, there are many experienced Professor and students, I think i will graduate here in maybe 2015 :) </td>
			</tr>

		</table>
		
		<h1 class="right">
		To be continued...
		</h1>
		

	 </div>
	 
	 <footer class="language_section">
	 &copy2014 &nbsp&nbsp Hanwen Cheng 
	 </footer>
	 
 
</body>


</html>